[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = "*"
ucmigrantfinder = {editable = true, path = "."}
bcrypt = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.9"
